.galeria {
    width: 80%;
    margin: auto;
  }
  
  .imagen {
    width: 48%;
    margin-bottom: 10px; 
    float: left;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  .imagen img {
    width: 100%;
    height: auto;
  }

